<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovearthstudio.sharesdk">
    <activity
        android:name=".wxapi.WXEntryActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:exported="true"
        android:screenOrientation="portrait" />
</manifest>
